:root {
  --pyp-grey-1: rgb(242, 239, 239);
  --pyp-grey-2: rgb(222, 222, 222);
  --pyp-grey-3: rgb(192, 192, 192);
  --pyp-grey-4: rgb(128, 128, 128);
  --pyp-grey-5: rgb(112, 112, 112);
  --pyp-orange-1: rgb(255, 102, 31);
  --pyp-orange-2: rgb(233, 92, 28);
  --pyp-curacao-1: rgb(147, 192, 57);
  --pyp-curacao-2: rgb(140, 179, 41);
  --pyp-blue-1: rgb(20, 146, 230);
}

@-webkit-keyframes pypUpDown {
  from {
    opacity: 0;
    top: -300px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes pypUpDown {
  from {
    opacity: 0;
    top: -300px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@-webkit-keyframes pypDownUp {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes pypDownUp {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
}
/* Hide arrows and spinners in input[type="number"] */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-clear-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

/* Hide arrows and spinners in input[type="range"] */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

/* Hide arrows and spinners in input[type="range"] for Firefox */
input[type=range] {
  -moz-appearance: none;
}

/* Hide arrows in input[type="number"] */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.pyp-page {
  font-size: 15px;
  font-weight: 400;
  padding: 1rem 0.5rem;
  margin: 0 auto;
  max-width: 1000px;
}
.pyp-page input[type=date] {
  background-color: white;
}
.pyp-page * {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.pyp-page .pyp-main .pyp-h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
.pyp-page .pyp-main .pyp-hr {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid var(--pyp-grey-3);
  margin: 0.5rem 0 0;
}
.pyp-page .pyp-main .pyp-form .pyp-products {
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product {
  list-style: none;
  padding-inline-start: 0;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product.pyp-product-m {
  margin: 1rem 0;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-product-details {
  display: flex;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-product-details .pyp-product-img {
  height: 4rem;
  width: 4rem;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-product-details .pyp-product-name-sku {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: start;
  padding-left: 1rem;
  width: 100%;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-h3 {
  font-size: 16px;
  line-height: 1;
  margin: 1rem 0 0.5rem 0;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-card .pyp-h4 {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: start;
  margin: 0 0 0.5rem 0;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-card .pyp-h4 img {
  height: 24px;
  margin-left: 0.25rem;
  width: auto;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-card .pyp-custom-radio {
  align-items: center;
  display: flex;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-card .pyp-custom-radio * {
  cursor: pointer;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-card .pyp-custom-radio input {
  display: none;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-card .pyp-radio-label {
  font-size: small;
  margin-right: 16px;
  min-width: calc(100% - 32px);
  padding-left: 32px;
  position: relative;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-card .pyp-radio-label .pyp-reg {
  text-decoration: line-through;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-card .pyp-radio-label .pyp-reg::before {
  content: "(";
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-card .pyp-radio-label .pyp-reg::after {
  content: ")";
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-card .pyp-radio-checkmark {
  background-color: white;
  border: 1px solid var(--pyp-grey-3);
  border-radius: 50%;
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-card .pyp-radio-label input:checked + .pyp-radio-checkmark:after {
  background-color: var(--pyp-orange-1);
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 10px;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-card .pyp-bar {
  background-color: var(--pyp-grey-2);
  border-radius: 0.5rem;
  height: 0.5rem;
  margin-top: 0.25rem;
  position: relative;
  width: 100%;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-card .pyp-bar span {
  background-color: var(--pyp-blue-1);
  border-radius: 0.5rem;
  height: 0.5rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 0%;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-card .pyp-bar span.pyp-5 {
  width: 100%;
}
.pyp-page .pyp-main .pyp-form .pyp-products .pyp-product .pyp-card .pyp-bar span.pyp-3 {
  width: 60%;
}
.pyp-page .pyp-main .pyp-cta {
  margin-bottom: 2rem;
  text-align: center;
}
.pyp-page .pyp-main .pyp-cta p {
  color: var(--pyp-grey-4);
  display: block;
  font-size: 12px;
  margin: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .pyp-page .pyp-aside {
    padding-left: 0.5rem;
    width: 35%;
  }
}
.pyp-page .pyp-aside .pyp-h2 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.pyp-page .pyp-aside .pyp-centricity {
  background-color: var(--pyp-grey-1);
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.pyp-page .pyp-aside .pyp-centricity img {
  border-radius: 1rem;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  width: 100%;
}
.pyp-page .pyp-aside .pyp-how {
  padding-inline-start: 2rem;
  margin: 0.5rem 0 0;
}
.pyp-page .pyp-aside .pyp-learn-more {
  background-color: white;
  border: none;
  color: var(--pyp-blue-1);
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  padding: 0;
  padding-left: 1rem;
  text-decoration: underline;
}
.pyp-page .pyp-modal {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  height: 100%;
  left: 0;
  line-height: 1.2;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999999;
}
.pyp-page .pyp-modal .pyp-modal-main,
.pyp-page .pyp-modal .pyp-modal-now:active,
.pyp-page .pyp-modal .pyp-modal-now:focus,
.pyp-page .pyp-modal .pyp-modal-now:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0 5px 16px;
}
.pyp-page .pyp-modal .pyp-modal-main *,
.pyp-page .pyp-modal .pyp-modal-now:active *,
.pyp-page .pyp-modal .pyp-modal-now:focus *,
.pyp-page .pyp-modal .pyp-modal-now:hover * {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.pyp-page .pyp-modal .pyp-modal-main {
  background-color: #fff;
  bottom: 0;
  color: var(--pyp-grey-5);
  display: block;
  height: 100%;
  max-height: 100% !important;
  overflow: auto;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .pyp-page .pyp-modal .pyp-modal-main {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: pypDownUp;
    animation-duration: 0.4s;
    animation-name: pypDownUp;
    position: fixed;
  }
}
@media screen and (min-width: 768px) {
  .pyp-page .pyp-modal .pyp-modal-main {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: pypUpDown;
    animation-duration: 0.4s;
    animation-name: pypUpDown;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    position: relative;
  }
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-header {
  line-height: 1;
  padding-right: 1rem;
  text-align: right;
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-header .pyp-modal-close {
  color: var(--pyp-grey-5);
  cursor: pointer;
  font-size: 3rem;
  font-weight: 200;
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-header:hover .pyp-modal-close {
  color: var(--pyp-curacao-2);
  cursor: pointer;
  text-decoration: none;
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body {
  padding: 0 1rem 1rem;
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 250px;
  width: 100%;
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body .pyp-modal-headline,
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body .pyp-modal-desc {
  margin: 0;
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body .pyp-modal-headline {
  color: var(--pyp-grey-5);
  font-size: 15px;
  font-weight: 600;
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body .pyp-modal-desc {
  color: var(--pyp-grey-4);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body .pyp-modal-green {
  background-color: var(--pyp-curacao-2);
  border-radius: 0.5rem;
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin: 1rem 0;
  padding: 1rem 2rem;
  text-align: center;
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body .pyp-accordion-group {
  border-top: 1px solid var(--pyp-grey-3);
  list-style: none;
  padding-inline-start: 0;
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body .pyp-accordion-group .pyp-accordion {
  border-bottom: 1px solid var(--pyp-grey-3);
  cursor: pointer;
  list-style: none;
  padding-inline-start: 0;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body .pyp-accordion-group .pyp-accordion .pyp-accordion-head {
  align-items: center;
  color: var(--pyp-grey-5);
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  justify-content: space-between;
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body .pyp-accordion-group .pyp-accordion .pyp-accordion-body {
  color: var(--pyp-grey-4);
  display: none;
  font-size: 14px;
  padding-top: 0.5rem;
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body .pyp-accordion-group .pyp-accordion .pyp-accordion-body ul {
  list-style: disc;
  padding-inline-start: 1rem;
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body .pyp-accordion-group .pyp-accordion .pyp-accordion-arrow {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238db429'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
  rotate: -90deg;
}
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body .pyp-accordion-group .pyp-accordion .pyp-accordion-arrow *,
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body .pyp-accordion-group .pyp-accordion .pyp-accordion-arrow ::after,
.pyp-page .pyp-modal .pyp-modal-main .pyp-modal-body .pyp-accordion-group .pyp-accordion .pyp-accordion-arrow ::before {
  box-sizing: border-box;
}
.pyp-page .pyp-h1 {
  font-size: 20px;
  margin-top: 0;
  text-align: center;
}
.pyp-page .pyp-phone-num {
  color: var(--pyp-curacao-1);
  font-size: 24px;
  font-weight: 600;
  margin: 0.5rem auto;
}
.pyp-page .pyp-card {
  background-color: var(--pyp-grey-1);
  border: none;
  border-radius: 0.5rem;
  padding: 1.25rem 1rem;
}
.pyp-page .pyp-center {
  text-align: center;
}
.pyp-page .pyp-nums {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.pyp-page .pyp-num {
  height: 50px;
  text-align: center;
  font-size: 20px;
  border: 1px solid var(--pyp-grey-3);
  border-radius: 0.25rem;
}
.pyp-page .pyp-num:focus {
  outline: 2px solid var(--pyp-curacao-1);
}
.pyp-page .pyp-num.pyp-code-dob {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 180px;
}
.pyp-page .pyp-a {
  color: var(--pyp-blue-1);
  cursor: pointer;
  font-weight: 400;
  outline: none;
  text-decoration: underline;
}
.pyp-page .pyp-a-btn {
  background-color: white;
  border: none;
  color: var(--pyp-blue-1);
  cursor: pointer;
  font-size: inherit;
  font-weight: 400;
  outline: none;
  padding: 0;
  text-decoration: underline;
}
.pyp-page .pyp-bg-light {
  background-color: var(--pyp-grey-1);
  border-radius: 0.5rem;
}
.pyp-page .pyp-cut {
  text-decoration: line-through;
}
.pyp-page .pyp-bold {
  font-weight: 600;
}
.pyp-page .pyp-grey-4 {
  color: var(--pyp-grey-4);
}
.pyp-page .pyp-grey-5 {
  color: var(--pyp-grey-5);
}
.pyp-page .pyp-nm {
  margin: 0;
}
.pyp-page .pyp-my-3 {
  margin: 1rem auto;
}
.pyp-page .pyp-my-4 {
  margin: 1.5rem auto;
}
.pyp-page .pyp-mb-4 {
  margin-bottom: 1.5rem;
}
.pyp-page .pyp-mb-3 {
  margin-bottom: 1rem;
}
.pyp-page .pyp-mb-2 {
  margin-bottom: 0.5rem;
}
.pyp-page .pyp-mb-0 {
  margin-bottom: 0rem;
}
.pyp-page .pyp-mt-4 {
  margin-top: 1.5rem;
}
.pyp-page .pyp-mt-3 {
  margin-top: 1rem;
}
.pyp-page .pyp-mt-2 {
  margin-top: 0.5rem;
}
.pyp-page .pyp-mt-1 {
  margin-top: 0.25rem;
}
.pyp-page .pyp-mt-0 {
  margin-top: 0rem;
}
.pyp-page button.pyp-mx {
  min-width: 180px;
}
.pyp-page button.pyp-btn {
  background-color: var(--pyp-orange-1);
  border-radius: 5rem;
  cursor: pointer;
  display: block;
  font-weight: 600;
  font-size: 16px;
  margin: 0 auto;
  padding: 12px 1rem;
}
@media screen and (max-width: 400px) {
  .pyp-page button.pyp-btn {
    padding: 1rem;
    width: 100%;
  }
}
.pyp-page button.pyp-btn,
.pyp-page button.pyp-btn:active,
.pyp-page button.pyp-btn:focus,
.pyp-page button.pyp-btn:hover {
  border: none;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}
.pyp-page button.pyp-btn:active,
.pyp-page button.pyp-btn:focus,
.pyp-page button.pyp-btn:hover {
  background-color: var(--pyp-orange-2);
}
.pyp-page button.pyp-btn:disabled {
  opacity: 0.5;
}
.pyp-page .pyp-disc {
  color: var(--pyp-grey-4);
  font-size: small;
  font-style: italic;
  font-weight: 400;
  margin: 0;
  text-align: left;
}
.pyp-page.pyp-page-1 {
  display: block;
}
@media screen and (min-width: 768px) {
  .pyp-page.pyp-page-1 {
    align-items: start;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .pyp-page.pyp-page-1 .pyp-main {
    margin-bottom: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .pyp-page.pyp-page-1 .pyp-main {
    padding-right: 0.5rem;
    width: 65%;
  }
}
.pyp-page.pyp-page-2 {
  text-align: center;
}
.pyp-page.pyp-page-2 .pyp-num.pyp-code-phone {
  width: 30px !important;
}
.pyp-page.pyp-page-3 {
  text-align: center;
}
.pyp-page.pyp-page-3 .pyp-num.pyp-code-phone {
  width: 40px !important;
}
.pyp-page.pyp-page-3 .pyp-cta-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: calc(180px + 2rem);
}
.pyp-page.pyp-page-3 .pyp-cta-flex button {
  width: 100%;
}
.pyp-page.pyp-page-3 .pyp-cta-flex button.pyp-btn-white {
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  display: block;
  font-weight: 600;
  font-size: 16px;
  margin: 0 auto;
  outline: none;
  padding: 12px 1rem;
}
@media screen and (max-width: 400px) {
  .pyp-page.pyp-page-3 .pyp-cta-flex button.pyp-btn-white {
    padding: 1rem;
  }
}
.pyp-page.pyp-page-3 .pyp-cta-flex button.pyp-btn-white:active, .pyp-page.pyp-page-3 .pyp-cta-flex button.pyp-btn-white:focus, .pyp-page.pyp-page-3 .pyp-cta-flex button.pyp-btn-white:hover {
  text-decoration: underline;
}
.pyp-page.pyp-page-4 *,
.pyp-page.pyp-page-4 ::after,
.pyp-page.pyp-page-4 ::before {
  box-sizing: border-box;
}
.pyp-page.pyp-page-4 ul.pyp-review {
  border-top: 1px solid var(--pyp-grey-3);
}
.pyp-page.pyp-page-4 ul.pyp-review li {
  border-bottom: 1px solid var(--pyp-grey-3);
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.pyp-page.pyp-page-4 .pyp-checkbox-label {
  text-align: left;
  padding-left: 0.5rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 447px) {
  .pyp-page.pyp-page-4 .pyp-checkbox-label {
    line-height: 26px;
  }
}
.pyp-page.pyp-page-4 .pyp-checkbox-input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.pyp-page.pyp-page-4 .pyp-checkbox-input {
  overflow: visible;
}
.pyp-page.pyp-page-4 .pyp-checkbox-input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}
.pyp-page.pyp-page-4 .pyp-checkbox {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}
.pyp-page.pyp-page-4 .pyp-checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.pyp-page.pyp-page-4 .pyp-checkbox-input:checked ~ .pyp-checkbox-label::before {
  color: #fff;
  border-color: var(--pyp-orange-1);
  background-color: var(--pyp-orange-1);
}
.pyp-page.pyp-page-4 .pyp-checkbox-input:focus ~ .pyp-checkbox-label::before {
  box-shadow: 0 0 0 0.2rem rgba(255, 103, 31, 0.5);
}
.pyp-page.pyp-page-4 .pyp-checkbox-input:focus:not(:checked) ~ .pyp-checkbox-label::before {
  border-color: #999;
}
.pyp-page.pyp-page-4 .pyp-checkbox-input:not(:disabled):active ~ .pyp-checkbox-label::before {
  color: #fff;
  background-color: rgba(255, 103, 31, 0.5);
  border-color: var(--pyp-orange-1);
}
.pyp-page.pyp-page-4 .pyp-checkbox-input:disabled ~ .pyp-checkbox-label::before {
  background-color: #fff;
}
.pyp-page.pyp-page-4 .pyp-checkbox-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}
.pyp-page.pyp-page-4 .pyp-checkbox-label::before {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: var(--pyp-orange-1) solid 1px;
}
.pyp-page.pyp-page-4 .pyp-checkbox-label::after {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  content: "";
  background: no-repeat 50%/50% 50%;
}
.pyp-page.pyp-page-4 .pyp-custom-checkbox .pyp-checkbox-label::before {
  border-radius: 0.25rem;
}
.pyp-page.pyp-page-4 .pyp-custom-checkbox .pyp-checkbox-input:checked ~ .pyp-checkbox-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.pyp-page.pyp-page-4 .pyp-custom-checkbox .pyp-checkbox-input:disabled:checked ~ .pyp-checkbox-label::before {
  background-color: var(--pyp-orange-1);
}
.pyp-page.pyp-page-4 .pyp-checkbox-label::before {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .pyp-page.pyp-page-4 .pyp-checkbox-label::before {
    transition: none;
  }
}
.pyp-page.pyp-page-5 {
  text-align: center;
}
.pyp-page.pyp-page-5 .pyp-top {
  align-items: center;
  display: flex;
  justify-content: center;
}
.pyp-page.pyp-page-5 .pyp-page-5-img-1 {
  height: auto;
  width: 100px;
}
.pyp-page.pyp-page-5 .pyp-page-5-img-2 {
  height: auto;
  width: 180px;
}
.pyp-page.pyp-page-5 .pyp-products {
  list-style: none;
  margin: 0 0 1rem;
  padding-inline-start: 0;
  text-align: left;
}
.pyp-page.pyp-page-5 .pyp-products li {
  margin-bottom: 1rem;
}
.pyp-page.pyp-page-5 .pyp-products li:last-of-type {
  margin-bottom: 0;
}
.pyp-page.pyp-page-5 .pyp-products .pyp-product {
  border: 4px solid var(--pyp-blue-1);
  border-radius: 0.25rem;
  list-style: none;
  padding-inline-start: 0;
  padding: 1rem;
}
.pyp-page.pyp-page-5 .pyp-products .pyp-product .pyp-product-details {
  display: flex;
}
.pyp-page.pyp-page-5 .pyp-products .pyp-product .pyp-product-details .pyp-product-img {
  border-radius: 0.25rem;
  height: 4rem;
  width: 4rem;
}
.pyp-page.pyp-page-5 .pyp-products .pyp-product .pyp-product-details .pyp-product-name-sku {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: start;
  padding-left: 1rem;
  width: 100%;
}
.pyp-page.pyp-page-5 .pyp-products .pyp-product .pyp-h3 {
  font-size: 16px;
  line-height: 1;
  margin: 1rem 0 0.5rem 0;
}
.pyp-page.pyp-page-5 .pyp-products .pyp-product .pyp-card .pyp-h4 {
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: start;
  margin: 0 0 0.5rem 0;
}
.pyp-page.pyp-page-5 .pyp-products .pyp-product .pyp-card .pyp-h4 img {
  height: 24px;
  margin-left: 0.25rem;
  width: auto;
}
.pyp-page.pyp-page-5 .pyp-page-5-img-3-wrap {
  position: relative;
  padding-bottom: 75px;
}
.pyp-page.pyp-page-5 .pyp-page-5-img-3 {
  height: auto;
  width: 100px;
}
.pyp-page.pyp-page-5 .pyp-badge-img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}/*# sourceMappingURL=pyp-style.css.map */